/* GLOBAL/DEFAULT STYLES & RESETS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    background: none;
    font-size: 1rem;
    line-height: 1;
    list-style-type: none;
}
:root {
    --deep-orange: #54200a;
    --dark-orange: #a1421a;
    --bright-orange: #d96823;
    --light-orange: #dbc2ab;
    --light-blue: #9dc2c7;
    --bright-blue: #187f8c;
    --dark-blue: #114a66;
    --deep-blue: #092736;
    --black: #000000;
    --white: #ffffff;
    --shadow: #00000050;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }   
}
body {
    font-family: "Elizeth", sans-serif;
    font-weight: 400;
    text-wrap: pretty;
    background: var(--light-orange);
}



/* HEADER AND KEY */

header {
    width: 100%;
    position: sticky;
    z-index: 20;
    top: 0;
}
#title-bar {
    background: var(--dark-orange);
    width: 100%;
    height: 4rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
h1 a {
    font-family: "Urbana", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
}
#title-bar button {
    font-family: "Elizeth", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    display: flex;
    transition: color 500ms;
    transition: transform 500ms;
}
#title-bar button span {
    color: var(--white);
    text-decoration: underline;
    font-size: 1em;
}
#title-bar button img {
    font-size: 1em;
    display: block;
    height: 1.125em;
    width: 1.125em;
    margin-right: 0.375em;
}
#title-bar button:hover {
    transform: scale(1.05);
}
#title-bar button:focus-visible, h1 a:focus-visible {
    outline: 3px solid var(--white);
    outline-offset: 5px;
}
#key {
    background: var(--deep-orange);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#key div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#key h2 {
    font-family: "Urbana", sans-serif;
    text-transform: uppercase;
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    color: var(--white);
    text-align: center;
    margin-right: 2rem;
    width: 7rem;
}
#key button {
    cursor: pointer;
}
#key button img {
    display: block;
    height: clamp(1rem, 2vw, 1.2rem);
    aspect-ratio: 4 / 3;
}
#key-cats {
    display: grid;
    gap: 0.75rem 2rem;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
}
img.category-icon {
    width: clamp(1.25rem, 2.5vw, 1.5rem);
    height: clamp(1.25rem, 2.5vw, 1.5rem);
    display: block;
    transition: outline 300ms;
    outline: 3px solid transparent;
}
img.category-icon:hover {
    outline: 3px solid var(--bright-orange);
}
.cats a:focus-visible, #key-cats li a:focus-visible {
    outline: 5px solid var(--bright-orange);
    outline-offset: 0px;
}
#key-cats li {
    transform-origin: min(0.75rem, 1.25vw);
    transition: transform 300ms;
    cursor: pointer;
}
#key-cats li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#key-cats li.cat-highlight, #key-cats li:hover {
    transform: scale(1.05);
}
#key-cats li img {
    width: 1.5rem;
    height: 1.5rem;
    transition: outline 300ms;
    outline: 3px solid transparent;
}
#key-cats li.cat-highlight img, #key-cats li:hover img {
    outline: 3px solid var(--bright-orange);
}
#key-cats span {
    color: var(--white);
    font-size: 0.875rem;
    text-decoration-color: transparent;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    transition: text-decoration 300ms;
}
#key-cats li.cat-highlight span, #key-cats li:hover span {
    text-decoration-color: var(--bright-orange);
}
@media (max-width: 1250px) {
    #title-bar button {
        font-size: 0.75rem;
    }
    #key-cats {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.75rem 1.75rem;
    }
    #key h2 {
        font-size: 1.375rem;
    }
    #key-cats span {
        font-size: calc(0.875rem*11/12);
    }
    #key-cats li img {
        height: 1.375rem;
        width: 1.375rem;
    }
}
@media (min-width: 976px) {
    #key button {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 975px) {
    #title-bar {
        height: 3.5rem;
    }
    h1 a {
        font-size: 1.5rem;
    }
    #title-bar button {
        position: relative;
        right: 0;
        margin-left: auto;
    }
    #key {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem 0.5rem 2rem;
    }
    #key div {
        margin-bottom: 0.25rem;
        width: 100%;
    }
    #key button {
        transition: rotate 400ms;
    }
    #key h2 {
        margin: 0;
        width: 100%;
        font-size: 1.25rem;
        height: 1.25rem;
        text-align: left;
    }
    #key-cats {
        height: 6.25rem;
        padding-block: 0.5rem;
        gap: 0.75rem 1.5rem;
        overflow: hidden;
        transition: all 400ms;
    }
    #key-cats span {
        font-size: calc(0.875rem*5/6);
    }
    #key-cats li img {
        height: 1.25rem;
        width: 1.25rem;
    }
    #key.menu-hidden {
        padding: 1rem 2rem 0.875rem 2rem;
    }
    #key.menu-hidden #key-cats {
        height: 0;
        padding-block: 0rem;
    }
    #key.menu-hidden button {
        rotate: 180deg;
    }
}
@media (max-width: 715px) {
    #key-cats {
        height: 8.25rem;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(4, 1fr);
        gap: 0.75rem 1.5rem;
    }
}


/* LAND ACKNOWLEDGEMENT POPUP */

#popup-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: var(--shadow);
    backdrop-filter: blur(2px);
    z-index: 50;
}
#popup-content {
    background: var(--light-blue);
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 1.5rem;
    transition: 500ms;
}
#popup-content h2 {
    font-family: "Urbana", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 1rem;
}
#popup-content > p {
    color: var(--deep-blue);
    line-height: 1.3;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    width: 55ch;
}
#popup-content div h4 {
    width: auto;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--light-blue);
    text-align: center;
    position: relative;
    z-index: 50;
    margin-top: 0.5rem;
}
#popup-content div p {
    width: auto;
    font-weight: 500;
    font-size: 1rem;
    font-style: italic;
    color: var(--light-blue);
    text-align: center;
    position: relative;
    z-index: 50;
}
#popup-content > div {
    margin: 2rem -1.5rem -1.5rem -1.5rem;
    padding: 5rem 1rem;
    background-image: url(images/google_earth_gray.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 40;
    background-color: var(--bright-blue);
    background-blend-mode: luminosity;
}
#popup-content > div > div {
    padding-block: 1rem;
}
#popup-content > div::before {
    content: "";
    background: var(--deep-blue);
    opacity: 0.53;
    inset: 0 0 0 0;
    position: absolute;
    z-index: 45;
    mix-blend-mode: darken;
}
#popup-content button {
    background-image: url(graphics/x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}
#popup-container.popup-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}



/* OVERVIEW */
aside {
    width: clamp(7.75rem, 15vw, 10rem);
    background: var(--bright-blue);
    position: fixed;
    height: calc(100dvh - 9.75rem);
    top: 9.75rem;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}
aside::after {
    content: "";
    width: 0.375rem;
    height: calc(100dvh - 9.75rem);
    top: 9.75rem;
    position: fixed;
    background: var(--dark-blue);
    transition: height 400ms;
}
ol {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.25rem;
    margin-block: auto;
}
aside li {
    width: 100%;
    min-height: 0.75rem;
    flex-shrink: 1;
    z-index: 5;
    display: block;
    transition: transform 200ms;
    display: flex;
    align-items: center;
}
aside li:hover, aside li:focus-visible {
    transform: scale(1.2);
}
aside li.current-event-button div {
    background: var(--white);
}
aside li.current-event-button span {
    color: var(--white);
}
aside a {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.75rem 1fr;
    grid-template-rows: 0.75rem;
    gap: 0.25rem;
    align-items: center;
    justify-items: center;
}
aside a:focus-visible {
    outline-offset: 0px;
    outline: 3px solid var(--light-blue);
}
aside span {
    display: block;
    width: 100%;
    font-size: 0.625rem;
    line-height: 1;
    text-align: center;
    color: var(--deep-blue);
    position: relative;
    grid-row: 1 / 1;
}
aside li div {
    width: 0.5rem;
    height: 0.5rem;
    background: var(--deep-blue);
    rotate: 45deg;
    grid-row: 1 / 1;
    grid-column: 2 / 3;
}
aside li:nth-of-type(2n - 1) span {
    grid-column: 1 / 2;
    text-align: right;
}
aside li:nth-of-type(2n) span {
    grid-column: 3 / 4;
    text-align: left;
}
@media (max-width: 1250px) {
    aside {
        height: calc(100dvh - 11.625rem);
        top: 11.625rem;
    }
    aside::after {
        height: calc(100dvh - 11.625rem);
        top: 11.625rem;
    }
}
@media (max-width: 975px) {
    aside {
        height: calc(100dvh - 6.75rem);
        top: 6.75rem;
        transition: all 400ms;
    }
    aside::after {
        height: calc(100dvh - 6.75rem);
        top: 6.75rem;
    }
    body:not(:has(#key.menu-hidden)) aside {
        height: calc(100dvh - 12.75rem);
        top: 12.75rem;
    }
    aside li:nth-of-type(2n) span {
        grid-column: 1 / 2;
        text-align: right;
    }
    aside li:nth-of-type(2n - 1) span {
        grid-column: 3 / 4;
        text-align: left;
    }
}
@media (max-width: 715px) {
    body:not(:has(#key.menu-hidden)) aside {
        height: calc(100dvh - 14.75rem);
        top: 14.75rem;
    }
}

/* TIMELINE ENTRY */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: min(15vw, 10rem);
}
.timeline-entry {
    display: grid;
    width: 100%;
    padding-inline: 2rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 2rem 1fr 2rem 2fr;
    scroll-margin-top: calc((50vh + 6.75rem + 2*clamp(1.25rem, 2.5vw, 1.5rem))/2);
    min-height: 50vh;
    position: relative;
}
.entry-right {
    grid-template-areas: "image image image line event";
}
.entry-left {
    grid-template-areas: "event line image image image";
}
.line {
    grid-area: line;
    background: var(--bright-orange);
    position: absolute;
    inset: 0 0 0 0;
}
@media (max-width: 1250px) {
    .timeline-entry {
        scroll-margin-top: calc((50vh + 7.5rem + 3*clamp(1.25rem, 2.5vw, 1.5rem))/2);
    }
}
@media (max-width: 975px) {
    .timeline-entry {
        grid-template-columns: 1fr 2rem min(80vw, 20rem) 2rem 1fr;
        grid-template-rows: 1fr max-content max-content 1fr;
        row-gap: 2rem;
        scroll-margin-top: calc((50vh + 8.25rem + 4*clamp(1.25rem, 2.5vw, 1.5rem))/2);
    }
    .entry-right {
        grid-template-areas: ". .     .     line ."
                             ". event event line ."
                             ". image image line ."
                             ". .     .     line .";
    }
    .entry-left {
        grid-template-areas: ". line .     .     ."
                             ". line event event ."
                             ". line image image ."
                             ". line .     .     .";
    }
}



/* TIMELINE EVENT DESCRIPTION*/

.event {
    display: grid;
    width: min(22rem, 100%);
    grid-template-rows: max-content 3px max-content;
    row-gap: 0.5rem;
    grid-area: event;
    position: relative;
}
.entry-left .event {
    grid-template-areas: "year cats .   "
                         "rule rule rule"
                         "evnt evnt .   ";
    grid-template-columns: 1fr max-content 4rem;
    justify-self: right;
}
.entry-right .event {
    grid-template-areas: ".    year cats"
                         "rule rule rule"
                         ".    evnt evnt";
    grid-template-columns: 4rem 1fr max-content;
    justify-self: left;
}
.event h3 {
    font-family: "Urbana", sans-serif;
    font-size: 1.8rem;
    height: clamp(1.25rem, 2.5vw, 1.5rem);
    line-height: 1;
    color: var(--dark-orange);
    grid-area: year;
}
.event h3.year-long {
    font-size: 1.5rem;
    height: clamp(1.25rem, 2.5vw, 1.5rem);
    line-height: 1.3;
}
.cats {
    display: flex;
    gap: 0.5rem;
    grid-area: cats;
    justify-content: end;
}
.event hr {
    grid-area: rule;
    border: 1.5px solid var(--dark-orange);
}
.event p {
    grid-area: evnt;
    color: var(--deep-orange);
    line-height: 1.3;
}
.event:before {
    content: "";
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: calc(1.5px - 1.5rem + clamp(1.25rem, 2.5vw, 1.5rem));
    background: var(--dark-orange);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.event:after {
    content: "";
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: calc(1.5px - 1.25rem + clamp(1.25rem, 2.5vw, 1.5rem));
    background: var(--white);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
@media (min-width: 976px) {
    .entry-left .event:before {
        right: -3rem;
    }
    .entry-right .event:before {
        left: -3rem;
    }
    .entry-left .event:after {
        right: -2.75rem;
    }
    .entry-right .event:after {
        left: -2.75rem;
    }
}
@media (max-width: 975px) {
    .event {
        width: 100%;
    }
    .event h3 {
        font-size: clamp(1.5rem, 3vw, 1.8rem);
    }
    .event h3.year-long {
        font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    }
    .event p {
        font-size: clamp(calc(5rem/6), calc(5vw/3), 1rem);
    }
    .entry-right .event {
        grid-template-areas: "year cats .   "
                             "rule rule rule"
                             "evnt evnt .   ";
        grid-template-columns: 2fr 1fr 4rem;
        justify-self: right;
    }
    .entry-left .event {
        grid-template-areas: ".    year cats"
                             "rule rule rule"
                             ".    evnt evnt";
        grid-template-columns: 4rem 2fr 1fr;
        justify-self: left;
    }
    .entry-right .event:before {
        right: -3rem;
    }
    .entry-left .event:before {
        left: -3rem;
    }
    .entry-right .event:after {
        right: -2.75rem;
    }
    .entry-left .event:after {
        left: -2.75rem;
    }
}



/* TIMELINE FIGURE */

.timeline-entry figure {
    width: min(100%, 30rem);
    position: relative;
    grid-area: image;
}
.entry-right figure {
    padding-right: 4rem;
}
.entry-left figure {
    padding-left: 4rem;
}
.timeline-entry figure img {
    width: 100%;
    aspect-ratio: 4 / 3;
    display: block;
    object-fit: cover;
    border: 3px solid var(--deep-orange);
}
.timeline-entry figure.double-img div, .timeline-entry figure.feature-img div {
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
}
.timeline-entry figure.double-img img {
    width: 60%;
    position: absolute;
}
.timeline-entry figure.double-img img:last-child {
    right: 0;
}
.entry-right figure.double-img img:last-child, .entry-left figure.double-img img:first-child {
    z-index: 5;
}
.timeline-entry figure.feature-img img:first-child {
    width: 100%;
    height: 84%;
    position: absolute;
    bottom: 0;
}
.timeline-entry figure.feature-img img:last-child {
    height: 40%;
    width: auto;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
}
.entry-left figure.feature-img img:last-child {
    left: 6%;
}
.timeline-entry.entry-right figure.feature-img img:last-child {
    right: 6%;
}
.timeline-entry figure figcaption {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.2;
    font-style: italic;
    color: var(--dark-orange);
    margin-top: 0.5rem;
}
@media (max-width: 975px) {
    .timeline-entry figure figcaption {
        font-size: clamp(calc(4.375rem/6), calc(4.375vw/3), 0.875rem);
    }
    .entry-right figure.double-img img:first-child, .entry-left figure.double-img img:last-child {
        bottom: 0;
    }
    .timeline-entry figure.feature-img img:first-child {
        height: 92%;
    }
}



/* FIGURE ANIMATIONS */

@media (prefers-reduced-motion: no-preference) {
    .timeline-entry figure {
        animation: paralax-main linear both;
        animation-timeline: view(9.75rem 0);
    }
    .entry-right figure.double-img img:first-child, .entry-left figure.double-img img:last-child {
        animation: paralax-double-out linear both;
        animation-timeline: view(calc(9.75rem + 20dvh) 40dvh);
    }
    .entry-right figure.double-img img:last-child, .entry-left figure.double-img img:first-child {
        animation: paralax-double-in linear both;
        animation-timeline: view(calc(9.75rem + 20dvh) 40dvh);
    }
    .timeline-entry figure.feature-img img:last-child {
        animation: paralax-feature linear both;
        animation-timeline: view(calc(9.75rem + 10dvh) 20dvh);
    }
    @keyframes paralax-main {
        0% {
            transform: translateY(25vh);
        }
        100% {
            transform: translateY(-25vh);
        }
    }
    @keyframes paralax-double-out {
        0% {
            transform: translateY(calc(200%/3));
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes paralax-double-in {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(calc(200%/3));
        }
    }
    @keyframes paralax-feature {
        0% {
            transform: translateY(60%);
        }
        100% {
            transform: translateY(0);
        }
    }
    @media (max-width: 1250px) {
        .timeline-entry figure {
            animation: paralax-main linear both;
            animation-timeline: view(11.25rem 0);
        }
        .entry-right figure.double-img img:first-child, .entry-left figure.double-img img:last-child {
            animation: paralax-double-out linear both;
            animation-timeline: view(calc(11.25rem + 20dvh) 40dvh);
        }
        .entry-right figure.double-img img:last-child, .entry-left figure.double-img img:first-child {
            animation: paralax-double-in linear both;
            animation-timeline: view(calc(11.25rem + 20dvh) 40dvh);
        }
        .timeline-entry figure.feature-img img:last-child {
            animation: paralax-feature linear both;
            animation-timeline: view(calc(11.25rem + 10dvh) 20dvh);
        }
    }
    @media (max-width: 975px) {
        .timeline-entry figure, .entry-right figure.double-img img:first-child, .entry-left figure.double-img img:last-child, .entry-right figure.double-img img:last-child, .entry-left figure.double-img img:first-child, .timeline-entry figure.feature-img img:last-child {
            animation: none;
        }
    }
}



/* STARTING/ENDING EVENT */

#top-line {
    min-height: 10vh;
}
#end-line {
    min-height: 10vh;
}
#entry-end {
    margin-bottom: 20vh;
}
#entry-end .line {
    height: 50%;
    align-self: self-start;
    min-height: 50%;
}
#entry-end .event:before, #entry-end .event:after {
    top: 50%;
    transform: translateY(-50%);
}



/* TIMELINE CURVES */

section.curve {
    display: grid;
    width: calc((100vw - min(15vw, 10rem) - 8rem)/5 + 4rem);
    height: calc((100vw - min(15vw, 10rem) - 8rem)/5 + 2rem);
    grid-template-columns: 1fr 1fr;
}
section.curve div {
    width: 100%;
    height: calc((100vw - min(15vw, 10rem) - 8rem)/10 + 2rem);
    background: var(--bright-orange);
    position: relative;
}
section.curve div:after {
    content: "";
    background: var(--light-orange);
    width: calc((100vw - min(15vw, 10rem) - 8rem)/10);
    height: calc((100vw - min(15vw, 10rem) - 8rem)/10);
    position: absolute;
}
div.curve-left:after {
    right: 0;
}
div.curve-right:after {
    left: 0;
}
div.curve-top:after {
    bottom: 0;
}
div.curve-bottom:after {
    top: 0;
}
div.curve-bottom {
    align-self: flex-start;
}
div.curve-top {
    align-self: flex-end;
}
div.curve-bottom.curve-left, div.curve-bottom.curve-left:after {
    border-radius: 0 0 0 100%;
}
div.curve-top.curve-right, div.curve-top.curve-right:after {
    border-radius: 0 100% 0 0;
}
div.curve-bottom.curve-right, div.curve-bottom.curve-right:after {
    border-radius: 0 0 100% 0;
}
div.curve-top.curve-left, div.curve-top.curve-left:after {
    border-radius: 100% 0 0 0;
}
@media (max-width: 975px) {
    section.curve {
        width: calc(min(80vw, 20rem) + 4rem);
        height: calc(min(80vw, 20rem) + 2rem);
    }
    section.curve div {
        height: calc(min(40vw, 10rem) + 2rem);
    }
    section.curve div:after {
        width: min(40vw, 10rem);
        height: min(40vw, 10rem);
    }
}