img.key-cat:hover {
    outline: 3px solid transparent;
}
aside {
    height: calc(100dvh - 7.5rem);
    top: 7.5rem;
}
#category-header {
    background: var(--deep-orange);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#category-header h2, #category-header a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#category-header span {
    color: var(--white);
    font-size: 1rem;
    line-height: clamp(1.25rem, 2.5vw, 1.5rem);
}
#category-header a {
    cursor: pointer;
    position: absolute;
    left: 1rem;
    display: flex;
}
#category-header a img {
    display: block;
    height: clamp(1.25rem, 2.5vw, 1.5rem);
}

@media (max-width: 975px) {
    body:not(:has(#key.menu-hidden)) aside {
        height: calc(100dvh - 6.25rem);
        top: 6.25rem;
    }
}
@media (max-width: 715px) {
    #category-header a span {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 580px) {
    #category-header {
        width: 70vw;
        position: absolute;
        right: 0;
        justify-content: space-between;
        gap: 0.5rem;
    }
    #category-header h2 span {
        font-size: clamp(0.6rem, 2.8vw, 1rem);
        height: clamp(0.6rem, 2.8vw, 1rem);
        line-height: clamp(0.6rem, 2.8vw, 1rem);
    }
    #category-header a {
        position: relative;
        left: auto;
    }
    body:not(:has(#key.menu-hidden)) aside {
        height: calc(100dvh - 3.5rem);
        top: 3.5rem;
    }
}